@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

.dark {
  --background-rgb: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}